
<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  	
  <servlet>
  	<servlet-name>ValidationLet</servlet-name>
  	<display-name>ValidationLet</display-name>
  	<description></description>
  	<servlet-class>com.isteer.validation.ValidationLet</servlet-class>
  </servlet>
  
  
  <context-param>
  <param-name>URL</param-name>
  <param-value>jdbc:mysql://localhost:3306/database1</param-value>
  </context-param>
  
  <context-param>
  <param-name>username</param-name>
  <param-value>root</param-value>
  </context-param>
 	
 	<context-param>
 	<param-name>password</param-name>
 	<param-value>root</param-value>
 	</context-param>
  
  
  <context-param>
  <param-name>driver</param-name>
  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>InsertToDB</servlet-name>
  	<display-name>InsertToDB</display-name>
  	<description></description>
  	<servlet-class>com.isteer.insertToDB.InsertToDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Retrieve</servlet-name>
  	<display-name>Retrieve</display-name>
  	<description></description>
  	<servlet-class>com.isteer.retriveDB.Retrieve</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidationLet</servlet-name>
  	<url-pattern>/ValidationLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertToDB</servlet-name>
  	<url-pattern>/InsertToDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Retrieve</servlet-name>
  	<url-pattern>/Retrieve</url-pattern>
  </servlet-mapping>
</web-app>
